<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
</head>
<body>
    <h1> Crear Producto</h1>

   <form action="/products/create" method="POST">

        <input type="text" name="id" placeholder="Ingresa el id"> <br>
        <input type="text" name="nombre" placeholder="Ingresa el nombre"><br>
        <input type="text" name="precio" placeholder="Ingresa el precio"><br>
        <input type="text" name="descripcion" placeholder="Ingresa la descrpción"><br>
        <input type="text" name="marca" placeholder="Ingresa la marca"><br>
        <input type="text" name="stock" placeholder="Ingresa stock"><br>

        <button type="submit">Crear Producto</button>
 
    </form>
</body>
</html>